

</div>
<div id="home" class="section scrollspy ">


<div id="index-banner" class="parallax-container valign-wrapper">
<div class="section no-pad-bot center-block">
  <div class="container center ">
    <br>


    <div class="row ">
    <div class="col s6 offset-s3 m4 offset-m4 l4 offset-l4">
    <img class="col s11 circle responsive-img" id="profile-pic" src="{{site.portfolio-pic}}">
    </div>
  </div>

    <h1 class="header center teal-text text-lighten-2 ">{{ site.title }}</h1>
    <div class="row center">
      <h5 class="header col s12 light white-text">{{ site.description }}</h5>
    </div>
    <br>

    {%for libraries in site.libraries %}
    <div class="chip">
        {{ libraries }}
    </div>
    {%endfor%}
    <br>


  </div>
</div>


    <div class="parallax"><img src="{{site.parallax-image}}" alt="Background image"></div>
  </div>
</div>

  <div class="section white">
    <div class="row container">
      <br>
      <h2 class="header">Portfolio</h2>
      <br>

      {% include portfolios.html %}

    </div>

  </div>

  <div class="container">
    <div class="row">
      <div class="col s1 m1 l1 offset-s9 offset-m11 offset-l11">
      <div class="col s2">

      </div>
        <a class="btn-floating btn-large waves-effect waves-light red right" id="CVbtn" href="{{ "/CV/2018-05-22-cv" | prepend: site.baseurl }}"><i class="material-icons">CV</i></a>
      </div>
<!-- "/CV/2018-05-22-cv" -->

    </div>

</div>

  <div class="parallax-container">
    <div id="arc" class="parallax"><img src="{{site.parallax-image-2}}"></div>
  </div>
