
<div id="home" class="section scrollspy ">
<div id="index-banner" class="parallax-container valign-wrapper">
<div class="section no-pad-bot center-block">
  <div class="container center ">
    <br><br>
    <h1 class="header center teal-text text-lighten-2 ">{{ site.title }}</h1>
    <div class="row center">
      <h5 class="header col s12 light ">{{ site.description }}</h5>
    </div>
    <br><br>

  </div>
</div>
    <div class="parallax"><img src="{{site.parallax-image}}" alt="Background image"></div>
  </div>
</div>




  <div class="section white">
    <div class="row container">
      <h2 class="header">Portfolio</h2>

      {% include portfolios.html %}

    </div>
  </div>




  <div class="parallax-container">
    <div class="parallax"><img src="{{site.parallax-image-2}}"></div>
  </div>
